    <div id = "page_wrapper">
        <div id = "profile_image">
            <%= image_tag "profile.jpeg" %>
        </div>

        <div id = "content">
            <h1>It's Mr. Stick Figure</h1>
            <p>At times described as Pinterest for designers, The Matboard is a social bookmarking hub that enables users to explore, share, and inspire creative work. The digital platform has a living feed, organized by theme, where users can like, comment, or ‘re-mat’ visuals, connect with other creatives, and of course add to a mood board. Sign up via Twitter or Facebook, and add your visual finds to a Matboard. The Matboard even allows you to filter for local contributors, create profiles, and follow other users. Add the ‘Mat button’ to your toolbar, and add visuals to your account whenever inspiration strikes.</p>
        </div>
    </div>