#banner
    .banner_content
        %h1 File Content
        %p  Your life's work!
        %button= link_to "Enter", new_user_registration_path
    
#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Organize
                %p Described as visual collaboration for creative people, MURAL was born out of CEO Mariano Suarez Battan’s need to collaborate remotely with an interdisciplinary team designing a video game. This online tool offers users a blank canvas, or the choice of several templates to start from. Drag and drop icons, post-its, shapes, and connectors, or select a photo from their extensive visual library (you can also upload your personal finds). Great if you generally want more collaborative online tools at your team’s disposal, as it includes access to several 'mural styles,' like empathy maps and UX workflows. (Free 30 day trial, starts at $12/month)

#bottom_cta
    .wrapper
        %h2 Go Ahead!
        %br/
        %button= link_to "Join Now", new_user_registration_path